
:root {
  --pink: #D6318A;
  --green: #52A59D;
  --lightpurple: #4F5183;
  --darkpurple: #282A58;
}

@media screen and (min-width: 991px) {
  .col-lg-3.sidebar-book { flex-basis: 16.667%; max-width: 16.667%; }
  .col-lg-2.sidebar-chapter { flex-basis: 25%; max-width: 25%; }
}

@media screen and (max-width: 991px) {
  #main-nav nav {
    width: 49%;
    display: inline-block;
    vertical-align: text-top;
  }

  .book-toc {
    column-count: 1;
  }

  #content {
    flex:0 0 100%;
    -webkit-flex:0 0 100%;
    max-width:100%
  }
}

.chapter-nav .next, .chapter-nav .prev {
  box-shadow: none;
  border-color: var(--darkpurple);
}

/* references with hanging indent */
.csl-entry {
  padding-left: 2em ;
  text-indent: -2em ;
}

.inline-figure { border: none; }

.small_right, .small_left {
  display: inline-block;
  width: 25%;
  max-width: 200px;
}
.small_right { float: right; margin: 1em 0 1em 1em;}
.small_left { float: left; margin: 1em 1em 1em 0;}
.small_right img, .small_left img { max-width: 100%; }

/* rainbow borders */
body {
  margin-top: 15px;
  box-shadow: 0 -3px 0 0 var(--pink),
              0 -6px 0 0 white,
              0 -9px 0 0 var(--lightpurple),
              0 -12px 0 0 var(--green),
              0 -15px 0 0 var(--darkpurple);
}

/* external link icons */
a[target="_blank"]::after, a[download]::after {
  margin: 0 3px 0 5px;
  font-weight: 400;
  font-family: "bootstrap-icons";
  font-size: 70%;
  text-decoration: none !important;
}

a[download]::after {
  content: "\f30a";
}

a[target="_blank"]::after {
  content:"\f1c5";
}

a.glossary::after, code a::after {
  content: none !important;
  margin: 0 !important;
}

a.glossary {
  color: var(--pink);
  text-decoration: underline;
  cursor: help;
  position: relative;
}

/* only needed for popup = "click" */
/* popup-definition */
a.glossary .def {
  display: none;
  position: absolute;
  z-index: 1;
  width: 500px;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 6px;
}
/* show on click */
a.glossary:active .def {
  display: inline-block;
}
/* triangle arrow */
a.glossary:active .def::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.image-links a {
  max-width: 100px;
  float: left;
  padding: 0.5em;
}
